@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

@media (min-resolution: 200dpi) {
  .text-sm {
    font-size: 0.9rem;
  }
}

body {
  @apply bg-white dark:bg-zinc-900;
  @apply text-zinc-900 dark:text-white;
  color-scheme: dark light;
}
